body {
    background: url(https://images.pexels.com/photos/4502111/pexels-photo-4502111.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: strech;
    height: 750px;
    font-family: "Josefin Sans", sans-serif;
}

.col-lg-3{
    background-color: lightskyblue;
}

.container {
    border: 2px solid white;
}

.form-inline {
    padding-top: 5px;
    padding-right: 0px;
    margin-right: 0px;;
}

#todayWeather {
    margin-top: 20px;
    margin-left: 1px;
    line-break: normal;
    color: white;
    border-style: dashed;
}

#cityView {
    text-align: center;
    justify-content: center;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-weight: 500;
    text-align: center;
}

#temp, #hum, #wind, #uv {
    text-align: left;
}

#forecast {
    margin-top:20px;
}

.btn {
    margin-left: auto;
    border-color: white;
    color: white;
    border-width: 2px;
}



