body {
    background-color: #A0C3D2;
    font-family: "Chivo", sans-serif; 
}

.col-lg-3 {
    background-color: #EAC7C7;
    padding-top: 20px;
}

.col-lg-12 {
    background-color: #F7F5EB;
    margin-bottom: 20px;
    padding-left:20px
}

.form-inline {
    padding-top: 5px;
    padding-right: 0px;
    margin-right: 0px;
}

#todayWeather {
    margin-bottom: 20px;
    line-break: normal;
}

#cityView {
    text-align: center;
    justify-content: center;
}

.card{
    background-color: #D7E9B9 ;
}

h1, h2, h3, h4 {
    font-size: 40px;
    font-family: "Chivo", sans-serif;
}

p {
    text-align: center;
}

#temp, #hum, #wind, #uv {
    text-align: left;
    font-size: 20px;
    padding-bottom: 5px;
}

#forecast {
    margin-top:20px;
}



